<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}

{% seo %}
  </head>

  <body>

    <header>
      <div class="container">
        <a id="a-title" href="{{ '/' | relative_url }}">
          <h1>VPN</h1>
        </a>
        <h2>Лучшее решение на протоколе WireGuard!</h2>
        <h3>Скачать:</h3>
        
        <section id="downloads">
          {% if site.show_downloads %}
            <a href="https://download.wireguard.com/windows-client/wireguard-installer.exe" class="btn">Windows</a>
            <a href="https://itunes.apple.com/us/app/wireguard/id1451685025?ls=1&mt=12" class="btn">macOS</a>
            <a href="https://play.google.com/store/apps/details?id=com.wireguard.android" class="btn">Android</a>
            <a href="https://itunes.apple.com/us/app/wireguard/id1441195209?ls=1&mt=8" class="btn">iOS</a>
          {% endif %}
          
        </section>
      </div>
    </header>

    <div class="container">
      <section id="main_content">
        {{ content }}
      </section>
    </div>
  </body>
</html>
